@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@theme {
  --color-overlay: rgba(0, 0, 0, 0.5);
  --color-Accent: #a18a68;
  --color-Dark_gray: #707070;
  --color-Gray: #d8d8d8;
  --color-Light_gray: #efefef;
  --color-Errors: #d82700;
  --font-font_primary: "DM Sans", "sans-serif";
  --font-font_secondary: "Allerta Stencil", "serif";
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@import "tailwindcss";
